
body {
	height: 100%;
	margin-bottom: 50px;
}

.project-footer {
	position: fixed;
	height: 50px;
	line-height: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0px 20px;
	background-color: #1F363D;
	font-size: 16px;
	text-align: left;
}

.project-footer > p {
	float: right;
	margin: 0;
	color: #BBB;
	font-size: 10px;
}

.project-footer > a {
	padding: 0px 15px;
	color: #FFF;
	text-decoration: none;
}

.project-footer > a:hover {
	text-decoration: none;
	color: #FFF;
}

@media only screen and (max-width: 400px) {
	body > .project-footer > a {
		padding: 0px 7px;
		font-size: 14px;
	}
}
