
body {
	padding: 0 10px;
	text-align: center;
	color: #000;
	font-family: "Alegreya Sans", sans-serif;
	background-color: #FFF;
}

/* Text */

h1 {
	font-size: 50px;
}

.info-text {
	font-size: 30px;
	margin-bottom: 20px;
}

/* Game Squares */

.flex-row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.square {
	flex-basis: 50%;
	max-width: 175px;
	border: 1px solid black;
	opacity: 0.6;
}

.square::after {
	display: block;
	content: "";
	padding-bottom: 100%;
}

.square:hover {
	cursor: pointer;
}

.green-bg {
	background-color: rgb(0, 255, 0);
}

.red-bg {
	background-color: rgb(255, 0, 0);
}

.yellow-bg {
	background-color: rgb(255, 255, 0);
}

.blue-bg {
	background-color: rgb(0, 0, 255);
}

/* Option Buttons */

.btn-row {
	margin: 30px auto;
}

.option-btn {
	margin: 3px;
	width: 70px;
	height: 50px;
	background-color: transparent;
	border: 1px solid #000;
	color: #000;
	font-size: 16px;
}

.option-btn:active {
	background-color: #000;
	color: #FFF;
}

.active {
	background-color: #000;
	color: #FFF;
}
